logs
_.log
npm-debug.log_
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
lib-cov
coverage
\*.lcov
build/Release
node_modules/
\*.tsbuildinfo
.npm
.eslintcache
\*.tgz
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
out
dist
.cache/
.docusaurus
.vscode-test
.DS_STORE